/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

@import "DiscordRecolor/DiscordRecolor.css";
/* @import url(https://github.com/mwittrien/BetterDiscordAddons/blob/master/Themes/DiscordRecolor/DiscordRecolor.css); */

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--settingsicons:		1;				/*	Use Settings Icons in User Settings: 1 = yes, 0 = no							*/
	--font:				"gg sans", "Noto Sans";		/*	General Font												*/
	
	--accentcolor: 			170,96,133;			/*	Blurple			-	default:	88,101,242		-	hex:	#5865f2		*/
	--accentcolor2: 		255,115,250;			/*	Boostpink		-	default:	255,115,250		-	hex:	#ff73fa		*/
	--linkcolor: 			241,143,198;			/*	Link Color		-	default:	0,176,244		-	hex:	#00b0f4		*/
	--mentioncolor: 		170,96,133;			/*	Highlight Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--successcolor: 		59,165,92;			/*	Success Color		-	default:	59,165,92		-	hex:	#3ba55c		*/
	--warningcolor: 		250,166,26;			/*	Warning Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--dangercolor:  		237,66,69;			/*	Danger Color		-	default:	237,66,69		-	hex:	#ed4245		*/
	
	--framecolor:  			241,143,198,0.2;		/*	App Frame Color		-	default:	151,151,159,0.121	-	hex:	#97979f1f	*/
	
	--textbrightest: 		255,255,255;			/*	Text Color 1		-	default:	255,255,255		-	hex:	#ffffff		*/
	--textbrighter: 		222,222,222;			/*	Text Color 2		-	default:	220,221,222		-	hex:	#dcddde		*/
	--textbright: 			185,185,185;			/*	Text Color 3		-	default:	185,187,190		-	hex:	#b9bbbe		*/
	--textdark: 			140,140,140;			/*	Text Color 4		-	default:	142,146,151		-	hex:	#8e9297		*/
	--textdarker: 			234,183,207;			/*	Text Color 5		-	default:	114,118,125		-	hex:	#72767d		*/
	--textdarkest: 			80,80,80;			/*	Text Color 6		-	default:	79,84,92		-	hex:	#4f545c		*/
	
	--backgroundcode: 		30,30,30;			/*	Background Code		-	default:	60,62,79		-	hex:	#3c3e4f		*/
	--backgroundaccent: 		105,54,81;			/*	Background Accent	-	default:	64,68,75		-	hex:	#40444b		*/
	--backgroundprimary: 		85,59,72;			/*	Background 1		-	default:	54,57,63		-	hex:	#36393f		*/
	--backgroundsecondary: 		60,30,45;			/*	Background 2		-	default:	47,49,54		-	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	15,15,15;			/*	Background 3		-	default:	41,43,47		-	hex:	#292b2f		*/
	--backgroundtertiary: 		51,32,41;			/*	Background 4		-	default:	32,34,37		-	hex:	#202225		*/
	--backgroundfloating: 		0,0,0;				/*	Background Elevated	-	default:	24,25,28		-	hex:	#18191c		*/
	--blurple: 100, 100, 100
}

div[class*="pulseGradient"] canvas {
    display: none !important;
}


div[class*="pulseGradient"] {
    background: linear-gradient(0deg, #b77194ac, #25181f) !important;

    opacity: 0.6 !important; 
}

.a22cb0c66246f5d3-primary {
	background-color: #ee63b2 !important;
}